/* GifTastic by WBM, 11/7/18, style.css file */

body {
    background-color: whitesmoke;
}

button {
    margin: 10px;
}

.topic-img {
    float: left;
    margin: 10px;
}

label {
    font-weight: bold;
}